body{
    background: linear-gradient(rgba(255, 255, 255, 0.953), rgba(0, 0, 0, 0.762)),url(image.jpg);
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-left{
    background: rgba(255, 251, 0, 0.467);
    padding: 30px;
}

.login-right{
    background: rgba(0, 0, 0, 0.467);
    padding: 30px;
}

/* .form-control{
    background-color: transparent !important;
} */

h1{
    color: #ffffff !important;
    margin-top: 200px !important;
    text-align: center;
    text-transform: uppercase;
}
